<ng-container *ngIf="isLoggedIn">
<div class="container" style="padding-top: 15px">
  <!-- No data message -->
  <ng-container *ngIf="Event.length <= 0" class="no-data text-center">
    <p>There is no event added yet!</p>
    <button type="button" class="btn btn-primary" [routerLink]="'/event-create'">Add event</button>
  </ng-container>

  <!-- Event list -->
  <table class="table table-bordered" *ngIf="Event.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Event Name</th>
        <th scope="col">Description</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of Event; let i = index">
        <th scope="row">{{event.date}}</th>
        <td>{{event.name}}</td>
        <td>{{event.description}}</td>
        <td>{{event.address}}</td>
        <td class="text-center edit-block">
          <!-- Call function to check for edit button access -->
            {{controls()}}
            <ng-container *ngIf="userId == event.owner || allow == true">
          <span class="edit" [routerLink]="['/event-edit/', event._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
            </ng-container>
            <ng-container *ngIf="userId == event.owner">
          <span class="delete" (click)="removeEvent(event, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
            </ng-container>

          <span class="detail" [routerLink]="['/event-detail/', event._id]">
            <button type="button" class="btn btn-info btn-sm">Show Detail</button>
          </span>

            <ng-container *ngIf="userId == event.owner">
            <span class="edit" [routerLink]="['/event-edit/', event._id, 'access']">
              <button type="button" class="btn btn-warning btn-sm">Invite</button>
            </span>
            </ng-container>

        </td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
</div>
</ng-container>
<div *ngIf="!isLoggedIn"> Please log in first</div>
