<ng-container *ngIf="isLoggedIn">
 <!-- Event list -->
    <table class="table table-bordered">
      <thead class="table-success">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of User; let i = index">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td class="text-center edit-block">
            <span class="add">
              {{controls()}}
              <ng-container *ngIf="!accessButton && userAccess != loggedEmail">
                <button type="button" class="btn btn-success btn-sm" (click)="giveAccess(i)">Give access</button>
              </ng-container>
              <ng-container *ngIf="accessButton && userAccess != loggedEmail">
                <button type="button" class="btn btn-danger btn-sm" (click)="removeAccess(i)">Remove access</button>
              </ng-container>

              <ng-container *ngIf="loggedEmail == userAccess">
                <button disabled type="button" class="btn btn-success btn-sm" (click)="giveAccess(i)">Give access</button>
              </ng-container>
              <ng-container *ngIf="loggedEmail == userAccess">
                <button disabled type="button" class="btn btn-danger btn-sm" (click)="removeAccess(i)">Remove access</button>
              </ng-container>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

<div>
  <button (click)="goBack()">Back</button>
</div>
