<ng-container *ngIf="isLoggedIn">

  <div class="col-md mt-4 ml-2 event-detail">

    <ng-container *ngIf="accessAllowed">
      <button (click)="accessEdit()">Edit event</button>
    </ng-container>

        <h3 class="mb-2">Details of {{name}} event</h3>

        <tbody>
            <td>Date: {{date}}</td>

            <tr>
              <td>Address: {{address}}</td>
            </tr>
        </tbody>
  </div>

<div style="float: left">
  <div class="column1">
<!--------------- Needed items asked by owner ------------------->
    <table class="table table-bordered col-md mt-2">
      <thead>
        <tr>
          <th>What is <a style="color: red">asked</a> by {{userId}}:</th>
        </tr>
      </thead>

    <div [formGroup]="detailForm">
<!--------- Drink ----------->
      <thead class="table-warning">
        <tr>
          <th scope="col" colspan="2">Drink #</th>
          <th scope="col">Drink Quantity</th>
          <th scope="col" style="text-align:center">Name</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
        <tbody>
            <tr *ngFor="let drink of drinkForm.controls; let i = index">
              <td colspan="2">Drink Asked #{{i+1}}</td>
              <td align="center">{{drinkQuantity(i)}}</td>
              <td align="center">{{drinkName(i)}}</td>
              <td>{{drinkSize(i)}}</td>
            </tr>
        </tbody>

<!--------- Food ----------->
      <thead class="table-success">
        <tr>
          <th scope="col" colspan="2">Food #</th>
          <th scope="col">Food Quantity</th>
          <th scope="col" style="text-align:center">Name</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let food of foodForm.controls; let i = index">
              <td colspan="2">Food Asked #{{i+1}}</td>
              <td align="center">{{foodQuantity(i)}}</td>
              <td align="center">{{foodName(i)}}</td>
              <td>{{foodSize(i)}}</td>
          </tr>
        </tbody>

<!--------- Object ----------->
      <thead class="table-primary">
        <tr>
          <th scope="col" colspan="2">Object #</th>
          <th scope="col">Object Quantity</th>
          <th scope="col" style="text-align:center">Name</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let object of objectForm.controls; let i = index">
              <td colspan="2">Object Asked #{{i+1}}</td>
              <td align="center">{{objectQuantity(i)}}</td>
              <td align="center">{{objectName(i)}}</td>
              <td></td>
          </tr>
        </tbody>

    </div>
    </table>
  </div>
</div>

  <div class="column2">
<!--------------- Brought items asked by guests ------------------->
    <table class="table table-bordered col-md mt-2" style="border-color: red">
      <thead>
        <tr>
          <th class="noborder">What is <a style="color: red">brought</a> by the guests:</th>
        </tr>
      </thead>

    <div [formGroup]="detailForm">
<!--------- Drink brought ----------->
      <thead class="table-info">
        <tr>
          <th scope="col" colspan="2">Drink #</th>
          <th scope="col">Drink Quantity</th>
          <th scope="col" style="text-align:center">Name</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
        <tbody>
            <tr *ngFor="let drink of drinkBroughtForm.controls; let i = index">
              <td colspan="2">Drink Brought #{{i+1}}</td>
              <td align="center">{{drinkBroughtQuantity(i)}}</td>
              <td align="center">{{drinkBroughtName(i)}}</td>
              <td>{{drinkBroughtSize(i)}}</td>
            </tr>
        </tbody>

<!--------- Food brought ----------->
      <thead class="table-danger">
        <tr>
          <th scope="col" colspan="2">Food #</th>
          <th scope="col">Food Quantity</th>
          <th scope="col" style="text-align:center">Name</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let food of foodBroughtForm.controls; let i = index">
              <td colspan="2">Food Needed #{{i+1}}</td>
              <td align="center">{{foodBroughtQuantity(i)}}</td>
              <td align="center">{{foodBroughtName(i)}}</td>
              <td>{{foodBroughtSize(i)}}</td>
          </tr>
        </tbody>

<!--------- Object brought ----------->
      <thead class="table-secondary">
        <tr>
          <th scope="col" colspan="2">Object #</th>
          <th scope="col">Object Quantity</th>
          <th scope="col" style="text-align:center">Name</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let object of objectBroughtForm.controls; let i = index">
              <td colspan="2">Object Brought #{{i+1}}</td>
              <td align="center">{{objectBroughtQuantity(i)}}</td>
              <td align="center">{{objectBroughtName(i)}}</td>
              <td></td>
          </tr>
        </tbody>

    </div>
    </table>

  </div>

  <div class="row">
<!------------------------- TOTAL RESULTS ---------------------------->
    <table class="result table table-bordered col-md mt-2">
      <thead>
        <tr>
          <td class="noborder"><b>Total result </b>after addition of all items brought</td>
        </tr>
      </thead>

        <div [formGroup]="detailForm">
        <thead class="table-success">
          <tr>
            <th scope="col">Drink</th>
            <th scope="col">Quantity</th>
            <th scope="col" style="text-align:center">Name</th>
            <th scope="col">Size</th>
            <th scope="col">&#10004; / 	&#10060;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of drinkForm.controls; let i = index">
            {{nonBroughtNeededDrink(i)}}
            <ng-container *ngIf="!duplication">
              <td>Drink</td>
              <ng-container *ngIf="neededDrinkQuantity <= 0">
                <td style=color:green align="center">{{neededDrinkQuantity}}</td>
              </ng-container>
              <ng-container *ngIf="neededDrinkQuantity > 0">
                <td style=color:red align="center">{{neededDrinkQuantity}}</td>
              </ng-container>
              <td>{{neededDrinkName}}</td>
              <td>{{neededDrinkSizeNumber}}{{neededDrinkSize}}</td>
              <ng-container *ngIf="neededDrinkQuantity <= 0">
                <td style=color:green align="center">&#10004;</td>
              </ng-container>
              <ng-container *ngIf="neededDrinkQuantity > 0">
                <td style=color:red align="center">&#10060;</td>
              </ng-container>
          </ng-container>
          </tr>
          <tr *ngFor="let result of drinkBroughtForm.controls; let i = index">
            {{drinkRealtimeNeed(i)}}
            <ng-container *ngIf="!duplication">
              <td>Drink</td>
              <ng-container *ngIf="finalResult <= 0">
                <td style=color:green align="center">{{finalResult}}</td>
              </ng-container>
              <ng-container *ngIf="finalResult > 0">
                <td style=color:red align="center">{{finalResult}}</td>
              </ng-container>
              <td>{{addedDrinkName}}</td>
              <td>{{addedDrinkSizeNumber}}{{addedDrinkSize}}</td>
              <ng-container *ngIf="finalResult <= 0">
                <td style=color:green align="center">&#10004;</td>
              </ng-container>
              <ng-container *ngIf="finalResult > 0">
                <td style=color:red align="center">&#10060;</td>
              </ng-container>
            </ng-container>
          </tr>
        </tbody>
      </div>
      </table>
  </div>




<div *ngIf="!isLoggedIn">Please log in first</div>
<!-- display result of computation -->
      <!-- <button (click)="getValueFoodForm()">
        dwfwe

      </button> -->
