.back {
  position: relative;
  left: 10px;
}

::ng-deep .mat-sort-header-arrow {
  opacity: 1.20 !important;
  color: black;
  transform: translateY(0px) !important;
}

.header {
  font-size: 20px;
  font-style: bold;
}
